.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 15%;
    min-width: 288px;
}

.flex-container > .btn {
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.textarea {
    width: 100%;
}

h1 {
    text-align: center;
}

#numero {
    width: 70%;
}

#agregar {
    width: 28%;
}
